
/* Side bar collapse button */
.toggle-button {
    width: 10px;
    z-index: 99;
}

.toggle-button:hover {
    background-color: lightgray;
}



/* Side bar formatting needed to located the containerin the right place */
.side-bar {
    top: 0px;
    right: 0px;
}

/* make all buttons the same width */
button {
    width: 100px;
}


