

<input class='form-control mr-2' type='text' placeholder='Give your route a name' [(ngModel)]="pathName" name="first">
<textarea class='form-control mt-2' placeholder='Give your route a description' [(ngModel)]="pathDescription"></textarea>


<div class="row mt-3 mb-0 text-center">
    <div class="col-4">Distance</div>
    <div class="col-4">Ascent</div>
    <div class="col-4">Descent</div>
</div>
<div class="row mt-0 mb-3 text-center">
    <div class="col-4">{{pathStats.distance | units: 'distance': units.distance}}</div>
    <div class="col-4">{{pathStats.elevations.ascent | units: 'elevation': units.elevation}}</div>
    <div class="col-4">{{pathStats.elevations.descent | units: 'elevation': units.elevation}}</div>
</div>

<div class="row mt-3 mb-0 text-center">
    <div class="col-6">Points</div>
    <!-- <div class="col-6">Lumpiness</div> -->
</div>                    
<div class="row mt-0 mb-3 text-center">
    <div class="col-6">{{pathStats.nPoints | number: '1.0-0'}}</div>
    <!-- <div class="col-6">{{pathStats.elevations.lumpiness | units: 'lumpiness': units.elevation: units.distance}}</div> -->
</div>


<div *ngIf="isElevations; else else_div">
    <div class="row mt-3 mb-0 text-center">
        <div class="col-4">Max Elev</div>
        <div class="col-4">Min Elev</div>
        <div class="col-4">Lumpiness</div>
    </div>                

    <div class="row mt-0 mb-3 text-center">
        <div class="col-4">{{pathStats.elevations.maxElev | units: 'elevation': units.elevation}}</div>
        <div class="col-4">{{pathStats.elevations.minElev | units: 'elevation': units.elevation}}</div>
        <div class="col-6">{{pathStats.elevations.lumpiness | units: 'lumpiness': units.elevation: units.distance}}</div>
    </div>
</div>
<ng-template #else_div>
    <div class="name">Elevation data is not stored for 'long' routes. Find out more <a href="">here</a></div>
</ng-template>


<div class="d-flex justify-content-center mb-2 flex-grow-1" >
    <button (click)="onSave()" type="button" class="btn btn-primary btn-sm" type="submit">Save</button>
    <button (click)="onCancel()" type="button" class="btn btn-secondary btn-sm ml-1" type="cancel">Cancel</button>
</div>
