

<div class='container'  class="p-0 m-0 oveflow-auto position-static">

  <div *ngFor="let line of listData; let i = index">

    <div id={{line.pathId}}
      (click)="onLineClick(line.pathId)"
      class="p-1 border-bottom border-left border-right"
      [ngClass]="getCssClass(line.pathId, i)">

    <div *ngIf="line.name === ''" class="name">
      {{line.category}} {{line.pathType}}
    </div>

    <div *ngIf="line.name !== ''" class="name">
      {{line.name}}
    </div>

    {{line.stats.distance | units: 'distance': units.distance}}
    {{line.stats.elevations.ascent | units: 'elevation': units.elevation}}
    {{line.stats.elevations.lumpiness | units: 'lumpiness': units.elevation: units.distance}}

    </div>
  </div>


  <div class="more p-1 text-left">
    <span *ngIf="isNoPathsToPlot"> No paths in this view </span>
  </div>

</div>
