
<!-- invisible container to get d-flex onto child elements -->
<div class="btn-group-vertical menu-bar position-absolute mt-2">

    <button (click)="onClick({command: 'undo'})" type="button" class="btn btn-light btn-sm mb-1 text-left">Undo</button>
    <button (click)="onClick({command: 'close'})" type="button" class="btn btn-light btn-sm mb-1 text-left">Close route</button>
    <button (click)="onClick({command: 'clear'})" type="button" class="btn btn-light btn-sm mb-1 text-left">Clear route</button>

    <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
        <label (click)="onClick({option: {snapProfile: 'driving'}})" class="btn btn-light btn-sm active radio-btns text-left">
            <input type="radio" name="options" id="roads" autocomplete="off" checked> Snap: Roads
        </label>
        <label (click)="onClick({option: {snapProfile: 'walking'}})" class="btn btn-light btn-sm text-left">
            <input type="radio" name="options" id="paths" autocomplete="off"> Snap: Paths
        </label>
        <label (click)="onClick({option: {snapProfile: 'none'}})" class="btn btn-light btn-sm text-left">
            <input type="radio" name="options" id="none" autocomplete="off"> Snap: None
        </label>
    </div>

</div>