
<!-- Container for side bar: see also css class side-bar -->
<!-- TODO: Can this layout be simplified?? -->
<!-- This outer container allows menu to float on map content: is it invisible (transparent with no border) -->
<div class="position-absolute info-panel h-100">

    <!-- Collape button -->
    <div  (click)="onClick()" class="collapse-btn border-left border-top border-bottom rounded-left text-center ml-auto mt-2 p-0 bg-white">
        {{icon}}
    </div>


        <!-- Minimised display - remember to reflect any changes in the maximised display also -->
        <div *ngIf="isMinimised" class="border-left border-top border-bottom rounded-left mt-2 ml-2 mb-2 bg-white">
            <div class="row m-0">
                <div class="col">{{pathStats.distance | number: '1.2-2'}}mi</div>
                <div class="col">156ft</div>
                <div class="col">25ft</div>
            </div>
        </div>

        <!-- Maximised display -->

    <!-- Outer container  - outer visible border -->
    <div *ngIf="!isMinimised" class="outer-container border-left border-top border-bottom bg-light mt-2 mb-4 rounded-left">

        <!-- Inner container - not visible but give the margins around the tabs and tabbed content-->
        <div class="position-relative inner-container mt-2 ml-2 mb-2">

            <!-- Define tabs -->
            <ul class="nav nav-tabs m-0 p-0 nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">
                        Details
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="overlay-tab" data-toggle="tab" href="#overlay" role="tab" aria-controls="overlay" aria-selected="false">
                        Overlay
                    </a>
                </li>
            </ul>

            <!-- Tabbed content -->
            <!-- Tab 1 -->
            <div class="tab-panel fade show active border-left border-bottom bg-white" id="details" role="tabpanel" aria-labelledby="details-tab">

                <div class="ml-2 mr-2 pt-2">
                    <input class='form-control' type='text' placeholder='Give your route a name'>
                    <textarea class='form-control mt-3' placeholder='Say something about your route'></textarea>

                        <div class="row mt-3 mb-3">
                            <div class="col">{{pathStats.distance | number: '1.2-2'}}mi</div>
                            <div class="col">156ft</div>
                            <div class="col">25ft</div>
                        </div>

                </div>

                <div class="d-flex justify-content-center mb-2">
                    <button type="button" class="btn btn-primary btn-sm" type="submit">Save</button>
                    <button type="button" class="btn btn-secondary btn-sm ml-1" type="cancel">Cancel</button>
                </div>

            </div>

            <!-- Tab 2 -->
            <div class="tab-panel fade active border-left border-bottom bg-white" id="overlay" role="tabpanel" aria-labelledby="overlay-tab">
                REMOVEDger<p>
                Giveet<p><p>
        
            </div>

        <!-- </div> -->

        </div>
    </div>

</div>          