
.div {
    font-size: small;
}

/* info panel formatting needed to located the containerin the right place */
.info-panel {
    top: 0px;
    right: 0px;
}

/*  */
.outer-container {
    opacity: 1;
}

.inner-container {
    opacity: 1;
}

/* Extra formatting reqd for collapse button */
.collapse-btn {
    width: 30px; 
    height: 30px;
    opacity: 0.5;
}

.collapse-btn:hover {
    width: 30px; 
    height: 30px;
    opacity: 1;
    cursor: pointer;
}



